h1 {
  color: black;
  text-align: center;
}

img{
  float: right;
}

h4{
  text-decoration-line: underline;
}

p{
  text-align: justify;
  text-decoration: wavy;
  text-transform: capitalize;
}